 
{% extends"main.html" %}
{% block content %}
<p id="gameMode">{{mode}}</p>
<p id="playerSide">{{side}}</p>
<p id="gameMaker">{{creator}}</p>
{% if mode =='local'%}
<div class =  'canvasHolder'>

{% endif %}
<canvas id="canvas"  width="800px" height="800px"></canvas>
<div id="time">
    <div id="timerWhite">{{time}}:00</div>
    <div id="timerBlack">{{time}}:00</div> <br><br>
    <div id="Wpoints">43</div>
    <div id="Bpoints">43</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
         integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" 
         crossorigin="anonymous"
         referrerpolicy="no-referrer">
        </script>

{% if code !=  '' %} 
<p>{{code}}</p>
{% endif %}

{% if mode =='local'%}
<canvas id="blackCanvas"   width="800px" height="800px"></canvas>
</div>
{% endif %}

{% endblock %}