 
{% extends"main.html" %}
{% block content %}
<p id="gameMode">{{mode}}</p>
{% if mode =='local'%}
<div class =  'canvasHolder'>

{% endif %}
<canvas id="canvas"  width="800px" height="800px"></canvas>
<div id="time">
    <div id="timerWhite">{{time}}:00</div>
    <div id="timerBlack">{{time}}:00</div> <br><br>
    <div id="Wpoints">43</div>
    <div id="Bpoints">43</div>
</div>


{% if code !=  '' %} 
<p>{{code}}</p>
{% endif %}

{% if mode =='local'%}
<canvas id="blackCanvas"   width="800px" height="800px"></canvas>
</div>
{% endif %}

{% endblock %}